

main{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.4px;
    width: 750px;
    margin: auto;

    color: #FFFFFF;
}

body{
    background: #2F1893;

}

button{
    background: #25DAC5;
    border-radius: 100px;
    width: 230px;
    height: 60px;
    color: #FFFFFF;
    font-size: 20px;
    border: #EBEAED;
    padding: 20px;
    margin-bottom: 65px;
}


